.toolbar {
   position: fixed ;
   width : 100%;
   background-color: goldenrod;
   font-family: courier,arial,helvetica;;

   height: 15%;

  
}

label {

 position : relative;
 top : 220px;
 left : 30%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 font-size: medium;
 
}


.AccountAlign {
   position:relative;
   left: 72.5%;
   top : -50%;
   font-weight: bold;
}
=======

